/*====================
=======Structure======
======================*/



header{
    /* position: fixed; */
    /* top: 0; */
    width: 100%;
    /* z-index: 1001; */
}

body{
    overflow-x: hidden;
}

main{
    margin: 0 auto;
    position: relative;
    /* top: 30vh; ???*/
    width: 80%;
    padding: 0% 10%;
    z-index: 1000;
    background-color: #1F2739;
}

footer{
    padding: 20%;
    background-color: #1F2739;
}

.only-desktop{
    display: block;
}

.only-mobile{
    display: none;
}


/*====================
========Columns=======
======================*/

.desktop-four-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-four-columns .column{
    width: 22%;
}

.desktop-three-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-three-columns .column{
    width: 30%;
}

.desktop-two-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-two-columns .column{
    width: 48%;
}

.desktop-two-columns-aside{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-two-columns-aside .column-aside{
    width: 30%;
}

.desktop-two-columns-aside .column-main{
    width: 65%;
}

.desktop-two-columns-inline{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-two-columns-inline .column{
    width: 48%;
}

.desktop-two-columns-inline .column div{
    display: flex;
    margin-right: 1em;
}

.desktop-one-column{
    display: flex;
    width: 100%;
}

.desktop-one-column .column{
    width: 100%;
}

img {
    max-width: 100%;
}
/* =======header================== */

.top-menu{
    display: flex;
}

.top-menu-logo{
    position: absolute;
    z-index: 2001;
    width: 2%;
}

.top-menu-logo svg{
    width: 3rem;
}

.top-menu-logo svg path{
    fill:  hsl(199, 66%, 28%);
}

.top-menu-button-icon{
    position: absolute;
    left: 2%;
    z-index: 2001;
}

.top-menu-button-icon:hover{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

.top-menu-button-icon button{
    border:none;
    background: transparent;
    cursor: pointer;
}

.top-menu-button-icon svg{
    width: 3rem;
    transition: all 1s;   
}

.top-menu-button-icon svg path{
    fill: hsl(199, 66%, 28%);
}

.top-menu-button-icon svg:hover{
    transform: rotatex(180deg)
}

.top-menu-dropdown{
    background-color: aliceblue;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2000;
    top:-100%;
    transition: all 0.5s;
}

.top-menu-dropdown.active{
    transition: all 0.5s;
    top: 0;
}

.top-menu-dropdown-options{
    left: 15%;
    position: absolute;
    top: 20vh;
    width: 90%;
}

.top-menu-dropdown-label{
    cursor: pointer;
    margin: 1rem 0;
}


/* ===========PANEL================ */

.panel-administracion-tabla{
    transition: all 1s;
    width: 100%;
    padding: 10% 0 0 0;
}

.panel-administracion-tabla.active{
    transition: all 1s;
    width: 45%;
}

.panel-administracion-title{
    text-align: center;
}

.panel-administracion-tabla table{
    margin: auto;
    width: 100%;
    background-color: #323C50;
}

.panel-administracion-tabla td{
    text-align: center;
    border: solid #1F2739;
    color:aliceblue;
    font-weight: 600;
    font-size: 1rem;
    padding: 0.2rem 0.5rem;
    width: 5%;
    max-width: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.panel-administracion-tabla th{
    background-color: #1F2739;
    color: #185875;
    font-size: 1.3rem;
    font-weight: 600;
}

.buttons{
    display: flex;
    justify-content: space-around;
    margin: 0.2rem 1.5rem;
}

.buttons button{
    background-color: transparent;
    border: none;
}

.buttons svg{
    width: 1.5rem;
    color: #1F2739;
}

.formulario{
    width: 35%;
    background-color: #323C50;
    padding: 1rem;
    border-radius: 3%;
    position: absolute;
    z-index: 500;
    bottom: 1%;
    right: -30rem;
    transition: all 1s;
}

.formulario.active{
    transition: all 1s;
    right:10rem;
}

.formulario-texto{
 text-align: center;
 padding: 5% 0;
}

.formulario-texto h5{
    padding-bottom: 2%;
    color: aliceblue;
    font-weight: 600;
    font-size: 1rem;
}

.formulario-texto input{
    border: none;
    border-radius: 3rem;
    padding:  2% 5%;
}

.footer-text{
    text-align: center;
}



 